@font-face {
    font-family: Nectar;
    src: url(../fonts/Nectar\ Bold.otf);
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    transition:0.3s ease-in-out;
    scroll-behavior: smooth;
    font-family:Nectar;
}


.mainbgimg {
    position: relative;
    background-image: url('../assets/mainbgimg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(15px);
    
    
  }
  
  
.blurcolor{
    background-color:rgba(0, 0, 0, 0.856);
    color:white;
    backdrop-filter:blur(10px);
    
}


.herobanner{
    max-width:1600px;
    margin:0 auto;
    margin-top:30px;
}